<!-- First section banner / call to action btn -->
<div class="banner">
  <div class="image-banner">
    <%= image_tag "dog_bg.png", class:"dog-bg-img col-md-5 align-self-end text-center text-md-right" %>
  </div>
  <div class="call-to-action col-md-7 align-self-center text-center text-md-left">
    <h1><strong>O MELHOR PARA SUA MATILHA</strong></h1>
    <h3 class="align-self-center">Acreditamos que o elemento mais importante na vida de um cão depois de nós, é sua dieta diária.</h3>
    <%= link_to 'Quero assinar', "#", class:"btn btn-black" %>
  </div>
</div>

<!-- Second section with some apresentation -->
<div class="jumbotron mt-5 mb-5">
  <h2 class="row justify-content-center pb-2"><i class="fas fa-paw"></i></h2>
  <div class="intro-section row justify-content-center">
    <div class="section-text icol-lg-6 text-center heading-section mb-5">
      <h3><strong>Bem vindo a nossa matilha!</strong></h3>
      <h5>Ao enviar alimentos diretamente para você, podemos investir em ingredientes melhores e alimentos mais frescos. Qualidade nunca encontrada em uma loja.</h5>
    </div>
  </div>
  <div class="row col-12 justify-content-center mt-5 mb-5">
    <div class="row pr-5 pl-5 mt-3 mb-4">
      <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2">
        <%= image_tag "dog-playing-min.jpg", class:"sec-2-dog" %>
      </div>
      <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1">
        <h2 class="text-black"><strong>Cuidado &amp; Carinho</strong></h2>
        <p class="mb-4">Far far away, behind the word mountains, Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      </div>
    </div>
    <div class="row pr-5 pl-5 mt-5 mb-4">
      <div class="mb-4 mb-lg-0 col-lg-6">
        <%= image_tag "dog-playing-min.jpg", class:"sec-3-dog" %>
      </div>
      <div class="col-lg-5 ml-auto align-self-center">
        <h2 class="text-black"><strong>Saúde</strong></h2>
        <p class="mb-4">Far far away, behind the word mountains, Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      </div>
    </div>
    <div class="row pr-5 pl-5 mt-5 mb-4">
      <div class="mb-4 mb-lg-0 col-lg-6 order-lg-2">
        <%= image_tag "dog-playing-min.jpg", class:"sec-2-dog" %>
      </div>
      <div class="col-lg-5 mr-auto text-lg-right align-self-center order-lg-1">
        <h2 class="text-black"><strong>Sabor!</strong></h2>
        <p class="mb-4">Far far away, behind the word mountains, Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      </div>
    </div>
  </div>

  <!-- third section with a small about us text -->
  <div class="about-container">
    <div class="row justify-content-center">
      <div class="col-lg-5 align-self-center text-left mr-auto row-reverse">
        <h1>ABOUT US</h1>
        <h4 class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation .</h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitationLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation </p>
      </div>
      <div class="product-info col-lg-5 align-self-center text-right mr-auto float-right">
        <h1 class="text-white font-weight-bold">OUR PRODUCT</h1>
        <h4 class="text-muted"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation .</h4>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitationLorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation </p>
      </div>
    </div>

    <!-- benefits of the products -->
    <div class="container" style="margin-top: 150px;">
     <h2 class="row justify-content-center pb-2"><i class="fas fa-paw"></i></h2>
     <div class="row justify-content-center">
       <div class="intro-section row justify-content-center">
        <div class="section-text icol-lg-6 text-center heading-section mb-5">
          <h3><strong>Alguns de nossos benefícios</strong></h3>
          <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4 col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">
        <div class="block_service">
          <h2 class="row justify-content-center pb-2"><i class="fas fa-bone"></i></h2>
          <h3>Dog Bones & teeth</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>

      </div>
      <div class="col-md-6 mb-4 col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="block_service">
          <h2 class="row justify-content-center pb-2"><i class="fas fa-dog"></i></h2>
          <h3>Dog Dermatology</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="col-md-6 mb-4 col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <div class="block_service">
          <h2 class="row justify-content-center pb-2"><i class="fa fa-stethoscope"></i></h2>
          <h3>Dog lifecycle increase</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>


      <div class="col-md-6 mb-4 col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="">

        <div class="block_service">
          <h2 class="row justify-content-center pb-2"><i class="fa fa-user-md"></i></h2>
          <h3>Approved by Especialists</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>

      </div>
      <div class="col-md-6 mb-4 col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <div class="block_service">
          <h2 class="row justify-content-center pb-2"><i class="fas fa-utensils"></i></h2>
          <h3>All nutrients that your dog need</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>
      <div class="col-md-6 mb-4 col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <div class="block_service">
          <h2 class="row justify-content-center pb-2"><i class="fas fa-battery-full"></i></h2>
          <h3>Boost dog energy</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
        </div>
      </div>

    </div>
  </div>




  <!-- Post insta testimonial -->
  <div class="container mt-5">
      <h1 class="mt-5 mb-5"><strong>Nossos clientes!</strong></h1>
    <div class="slick-modal text-left">
      <div class="insta-post">
        <img src="https://instagram.fcgh22-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p640x640/107210241_3319014664829069_8917966255702881893_n.jpg?_nc_ht=instagram.fcgh22-1.fna.fbcdn.net&_nc_cat=105&_nc_ohc=1Kfxvv-y_CEAX_ZmjBt&oh=24927e2f17927cf233dab1612dd0973c&oe=5F5827B0" alt="Nutrimatilha Instagram post" class="insta-photo">
        <div class="insta-post-content">
          <div class="insta-icons">
            <svg viewBox="0 0 44 44" version="1.1" style="width: 24px; height: 24px; margin: 0px 0.5rem 0px 0px; fill: rgb(237, 73, 86);">
              <g transform="translate(-0.000000, 2.000000)">
                <path d="M21.8357934,40.7028087 L39.7154936,22.8085958 C44.648195,17.76325 44.8035961,9.75078955 40.0702391,4.51797116 C35.3368821,-0.714847232 27.3490316,-1.36131207 21.8357934,3.04223899 C16.3171841,-1.49912555 8.20107961,-0.889491092 3.42280836,4.42531509 C-1.35546289,9.74012126 -1.10120987,17.8751174 3.99963152,22.8811595 L21.8357934,40.7028087 Z"></path>
              </g>
            </svg>
            <svg viewBox="0 0 44 44" version="1.1" style="width: 24px; height: 24px; margin: 0px 0.5rem;">
              <path d="M20.5424954,41.085 C24.5092873,41.1017666 28.39461,39.9595869 31.7212454,37.79875 L42.2399954,42.19875 L38.2524954,30.92375 C40.1134191,27.7761541 41.0918797,24.1852989 41.0849954,20.52875 C41.0774027,9.18523357 31.8768528,-0.00505887519 20.5333349,2.08924777e-06 C9.18981699,0.00506305369 -0.00252868995,9.20356158 5.21796393e-07,20.5470803 C0.00252973354,31.890599 9.1989764,41.0849975 20.5424954,41.085 Z M20.5424954,2.75000004 C30.3502538,2.79516312 38.2898323,10.7347417 38.3349954,20.5425 C38.3435658,23.9027809 37.3892486,27.1951753 35.5849954,30.03 L35.2274954,30.59375 L37.5787454,37.235 L31.4049954,34.65 L30.7724954,35.04875 C27.7875809,37.1820848 24.2113938,38.3308869 20.5424954,38.335 C14.1858473,38.3350002 8.31206219,34.9437689 5.1337381,29.4387502 C1.95541401,23.9337314 1.95541401,17.1512686 5.1337381,11.6462499 C8.31206219,6.14123122 14.1858473,2.74999991 20.5424954,2.75000004 Z"></path>
            </svg>
            <svg viewBox="0 0 44 44" version="1.1" style="width: 24px; height: 24px; margin: 0px 0.5rem;">
              <g transform="translate(18.978844, 18.940585) rotate(15.000000) translate(-18.978844, -18.940585) translate(-0.003914, -1.448304)">
                <path d="M33.3534097,40.243448 L36.5593867,3.05130266 L36.8124902,0.070306513 L1.02647509,18.6171646 L21.4434865,23.0886589 L33.3534097,40.243448 Z M31.08954,31.8066665 L24.0588887,21.7668964 L33.0581224,8.31022983 L31.08954,31.8066665 Z M30.6536397,6.62287352 L21.654406,20.0795401 L9.70229879,17.4641378 L30.6536397,6.62287352 Z"></path>
              </g>
            </svg>
          </div>
          <div class="insta-post-desc">
            <p class="insta-post-owner">nutrimatilha</p>
            <p>Quando chega a mensalidade os nossos blogueirinhos ficam como☝🏼👅 Adoramos ver essa cena!❤️</p>
          </div>
        </div>
      </div>
      <div class="insta-post">
        <img src="https://instagram.fcgh22-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/p640x640/103283015_1231351110551490_7075206642317253427_n.jpg?_nc_ht=instagram.fcgh22-1.fna.fbcdn.net&_nc_cat=106&_nc_ohc=l4ftrRWtq_EAX8T8PwD&oh=c2c45fae7e575d70776ad011fd82cf82&oe=5F571F00" alt="Nutrimatilha Instagram post" class="insta-photo">
        <div class="insta-post-content">
          <div class="insta-icons">
            <svg viewBox="0 0 44 44" version="1.1" style="width: 24px; height: 24px; margin: 0px 0.5rem 0px 0px; fill: rgb(237, 73, 86);">
              <g transform="translate(-0.000000, 2.000000)">
                <path d="M21.8357934,40.7028087 L39.7154936,22.8085958 C44.648195,17.76325 44.8035961,9.75078955 40.0702391,4.51797116 C35.3368821,-0.714847232 27.3490316,-1.36131207 21.8357934,3.04223899 C16.3171841,-1.49912555 8.20107961,-0.889491092 3.42280836,4.42531509 C-1.35546289,9.74012126 -1.10120987,17.8751174 3.99963152,22.8811595 L21.8357934,40.7028087 Z"></path>
              </g>
            </svg>
            <svg viewBox="0 0 44 44" version="1.1" style="width: 24px; height: 24px; margin: 0px 0.5rem;">
              <path d="M20.5424954,41.085 C24.5092873,41.1017666 28.39461,39.9595869 31.7212454,37.79875 L42.2399954,42.19875 L38.2524954,30.92375 C40.1134191,27.7761541 41.0918797,24.1852989 41.0849954,20.52875 C41.0774027,9.18523357 31.8768528,-0.00505887519 20.5333349,2.08924777e-06 C9.18981699,0.00506305369 -0.00252868995,9.20356158 5.21796393e-07,20.5470803 C0.00252973354,31.890599 9.1989764,41.0849975 20.5424954,41.085 Z M20.5424954,2.75000004 C30.3502538,2.79516312 38.2898323,10.7347417 38.3349954,20.5425 C38.3435658,23.9027809 37.3892486,27.1951753 35.5849954,30.03 L35.2274954,30.59375 L37.5787454,37.235 L31.4049954,34.65 L30.7724954,35.04875 C27.7875809,37.1820848 24.2113938,38.3308869 20.5424954,38.335 C14.1858473,38.3350002 8.31206219,34.9437689 5.1337381,29.4387502 C1.95541401,23.9337314 1.95541401,17.1512686 5.1337381,11.6462499 C8.31206219,6.14123122 14.1858473,2.74999991 20.5424954,2.75000004 Z"></path>
            </svg>
            <svg viewBox="0 0 44 44" version="1.1" style="width: 24px; height: 24px; margin: 0px 0.5rem;">
              <g transform="translate(18.978844, 18.940585) rotate(15.000000) translate(-18.978844, -18.940585) translate(-0.003914, -1.448304)">
                <path d="M33.3534097,40.243448 L36.5593867,3.05130266 L36.8124902,0.070306513 L1.02647509,18.6171646 L21.4434865,23.0886589 L33.3534097,40.243448 Z M31.08954,31.8066665 L24.0588887,21.7668964 L33.0581224,8.31022983 L31.08954,31.8066665 Z M30.6536397,6.62287352 L21.654406,20.0795401 L9.70229879,17.4641378 L30.6536397,6.62287352 Z"></path>
              </g>
            </svg>
          </div>
          <div class="insta-post-desc">
            <p class="insta-post-owner">nutrimatilha</p>
            <p>Mais um Pet blogueirinho recebendo suas refeições. Preparado para o feriado!📦⛱</p>
          </div>
        </div>
      </div>
      <div class="insta-post">
        <img src="https://instagram.fcgh22-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/94840355_636501710230986_5093333710139893122_n.jpg?_nc_ht=instagram.fcgh22-1.fna.fbcdn.net&_nc_cat=106&_nc_ohc=TY2YeIrGT_EAX9OqvxY&oh=694d1031ebb19835216fe69524e416d9&oe=5F594032" alt="Nutrimatilha Instagram post" class="insta-photo">
        <div class="insta-post-content">
          <div class="insta-icons">
            <svg viewBox="0 0 44 44" version="1.1" style="width: 24px; height: 24px; margin: 0px 0.5rem 0px 0px; fill: rgb(237, 73, 86);">
              <g transform="translate(-0.000000, 2.000000)">
                <path d="M21.8357934,40.7028087 L39.7154936,22.8085958 C44.648195,17.76325 44.8035961,9.75078955 40.0702391,4.51797116 C35.3368821,-0.714847232 27.3490316,-1.36131207 21.8357934,3.04223899 C16.3171841,-1.49912555 8.20107961,-0.889491092 3.42280836,4.42531509 C-1.35546289,9.74012126 -1.10120987,17.8751174 3.99963152,22.8811595 L21.8357934,40.7028087 Z"></path>
              </g>
            </svg>
            <svg viewBox="0 0 44 44" version="1.1" style="width: 24px; height: 24px; margin: 0px 0.5rem;">
              <path d="M20.5424954,41.085 C24.5092873,41.1017666 28.39461,39.9595869 31.7212454,37.79875 L42.2399954,42.19875 L38.2524954,30.92375 C40.1134191,27.7761541 41.0918797,24.1852989 41.0849954,20.52875 C41.0774027,9.18523357 31.8768528,-0.00505887519 20.5333349,2.08924777e-06 C9.18981699,0.00506305369 -0.00252868995,9.20356158 5.21796393e-07,20.5470803 C0.00252973354,31.890599 9.1989764,41.0849975 20.5424954,41.085 Z M20.5424954,2.75000004 C30.3502538,2.79516312 38.2898323,10.7347417 38.3349954,20.5425 C38.3435658,23.9027809 37.3892486,27.1951753 35.5849954,30.03 L35.2274954,30.59375 L37.5787454,37.235 L31.4049954,34.65 L30.7724954,35.04875 C27.7875809,37.1820848 24.2113938,38.3308869 20.5424954,38.335 C14.1858473,38.3350002 8.31206219,34.9437689 5.1337381,29.4387502 C1.95541401,23.9337314 1.95541401,17.1512686 5.1337381,11.6462499 C8.31206219,6.14123122 14.1858473,2.74999991 20.5424954,2.75000004 Z"></path>
            </svg>
            <svg viewBox="0 0 44 44" version="1.1" style="width: 24px; height: 24px; margin: 0px 0.5rem;">
              <g transform="translate(18.978844, 18.940585) rotate(15.000000) translate(-18.978844, -18.940585) translate(-0.003914, -1.448304)">
                <path d="M33.3534097,40.243448 L36.5593867,3.05130266 L36.8124902,0.070306513 L1.02647509,18.6171646 L21.4434865,23.0886589 L33.3534097,40.243448 Z M31.08954,31.8066665 L24.0588887,21.7668964 L33.0581224,8.31022983 L31.08954,31.8066665 Z M30.6536397,6.62287352 L21.654406,20.0795401 L9.70229879,17.4641378 L30.6536397,6.62287352 Z"></path>
              </g>
            </svg>
          </div>
          <div class="insta-post-desc">
            <p class="insta-post-owner">nutrimatilha</p>
            <p>SEU CÃO ESTÁ SEM FOME?<br />
              É muito comum as pessoas virem nos procurar dizendo que o seu cão que come ração ou até mesmo alimentação natural não estão comendo direito. Isso pode ser fruto de alguma doença renal crônica, disfunção endócrina, entre outras. Mas como também pode ser estresse, cadela no cio, ou simplesmente você não está alimentando ele(a) da maneira correta.<br />
            Aqui vão algumas dicas...</p>
          </div>
        </div>
      </div>
      <div class="insta-post">
        <img src="https://instagram.fcgh22-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/c240.0.959.959a/s640x640/92989093_1869348203222566_4579056644044072762_n.jpg?_nc_ht=instagram.fcgh22-1.fna.fbcdn.net&_nc_cat=110&_nc_ohc=QX3VQTYlTeoAX_X6Tbw&oh=af7b8926050aaa5c56fd66f84f8d9301&oe=5F563AEA" alt="Nutrimatilha Instagram post" class="insta-photo">
        <div class="insta-post-content">
          <div class="insta-icons">
            <svg viewBox="0 0 44 44" version="1.1" style="width: 24px; height: 24px; margin: 0px 0.5rem 0px 0px; fill: rgb(237, 73, 86);">
              <g transform="translate(-0.000000, 2.000000)">
                <path d="M21.8357934,40.7028087 L39.7154936,22.8085958 C44.648195,17.76325 44.8035961,9.75078955 40.0702391,4.51797116 C35.3368821,-0.714847232 27.3490316,-1.36131207 21.8357934,3.04223899 C16.3171841,-1.49912555 8.20107961,-0.889491092 3.42280836,4.42531509 C-1.35546289,9.74012126 -1.10120987,17.8751174 3.99963152,22.8811595 L21.8357934,40.7028087 Z"></path>
              </g>
            </svg>
            <svg viewBox="0 0 44 44" version="1.1" style="width: 24px; height: 24px; margin: 0px 0.5rem;">
              <path d="M20.5424954,41.085 C24.5092873,41.1017666 28.39461,39.9595869 31.7212454,37.79875 L42.2399954,42.19875 L38.2524954,30.92375 C40.1134191,27.7761541 41.0918797,24.1852989 41.0849954,20.52875 C41.0774027,9.18523357 31.8768528,-0.00505887519 20.5333349,2.08924777e-06 C9.18981699,0.00506305369 -0.00252868995,9.20356158 5.21796393e-07,20.5470803 C0.00252973354,31.890599 9.1989764,41.0849975 20.5424954,41.085 Z M20.5424954,2.75000004 C30.3502538,2.79516312 38.2898323,10.7347417 38.3349954,20.5425 C38.3435658,23.9027809 37.3892486,27.1951753 35.5849954,30.03 L35.2274954,30.59375 L37.5787454,37.235 L31.4049954,34.65 L30.7724954,35.04875 C27.7875809,37.1820848 24.2113938,38.3308869 20.5424954,38.335 C14.1858473,38.3350002 8.31206219,34.9437689 5.1337381,29.4387502 C1.95541401,23.9337314 1.95541401,17.1512686 5.1337381,11.6462499 C8.31206219,6.14123122 14.1858473,2.74999991 20.5424954,2.75000004 Z"></path>
            </svg>
            <svg viewBox="0 0 44 44" version="1.1" style="width: 24px; height: 24px; margin: 0px 0.5rem;">
              <g transform="translate(18.978844, 18.940585) rotate(15.000000) translate(-18.978844, -18.940585) translate(-0.003914, -1.448304)">
                <path d="M33.3534097,40.243448 L36.5593867,3.05130266 L36.8124902,0.070306513 L1.02647509,18.6171646 L21.4434865,23.0886589 L33.3534097,40.243448 Z M31.08954,31.8066665 L24.0588887,21.7668964 L33.0581224,8.31022983 L31.08954,31.8066665 Z M30.6536397,6.62287352 L21.654406,20.0795401 L9.70229879,17.4641378 L30.6536397,6.62287352 Z"></path>
              </g>
            </svg>
          </div>
          <div class="insta-post-desc">
            <p class="insta-post-owner">nutrimatilha</p>
            <p>O melhor para a matilha toda! 🐾 <br/>
              <i class="hashtag">#nutrimatilha</i></p>
            </div>
          </div>
        </div>
        <div class="insta-post">
          <img src="https://instagram.fcgh22-1.fna.fbcdn.net/v/t51.2885-15/e35/p1080x1080/90756507_100833454879574_7182429870324941870_n.jpg?_nc_ht=instagram.fcgh22-1.fna.fbcdn.net&_nc_cat=102&_nc_ohc=6NIgtgOqMiAAX8-9lx_&oh=a6e06b8677514b5c9ad55dc55990e0dc&oe=5F56F769" alt="Nutrimatilha Instagram post" class="insta-photo">
          <div class="insta-post-content">
            <div class="insta-icons">
              <svg viewBox="0 0 44 44" version="1.1" style="width: 24px; height: 24px; margin: 0px 0.5rem 0px 0px; fill: rgb(237, 73, 86);">
                <g transform="translate(-0.000000, 2.000000)">
                  <path d="M21.8357934,40.7028087 L39.7154936,22.8085958 C44.648195,17.76325 44.8035961,9.75078955 40.0702391,4.51797116 C35.3368821,-0.714847232 27.3490316,-1.36131207 21.8357934,3.04223899 C16.3171841,-1.49912555 8.20107961,-0.889491092 3.42280836,4.42531509 C-1.35546289,9.74012126 -1.10120987,17.8751174 3.99963152,22.8811595 L21.8357934,40.7028087 Z"></path>
                </g>
              </svg>
              <svg viewBox="0 0 44 44" version="1.1" style="width: 24px; height: 24px; margin: 0px 0.5rem;">
                <path d="M20.5424954,41.085 C24.5092873,41.1017666 28.39461,39.9595869 31.7212454,37.79875 L42.2399954,42.19875 L38.2524954,30.92375 C40.1134191,27.7761541 41.0918797,24.1852989 41.0849954,20.52875 C41.0774027,9.18523357 31.8768528,-0.00505887519 20.5333349,2.08924777e-06 C9.18981699,0.00506305369 -0.00252868995,9.20356158 5.21796393e-07,20.5470803 C0.00252973354,31.890599 9.1989764,41.0849975 20.5424954,41.085 Z M20.5424954,2.75000004 C30.3502538,2.79516312 38.2898323,10.7347417 38.3349954,20.5425 C38.3435658,23.9027809 37.3892486,27.1951753 35.5849954,30.03 L35.2274954,30.59375 L37.5787454,37.235 L31.4049954,34.65 L30.7724954,35.04875 C27.7875809,37.1820848 24.2113938,38.3308869 20.5424954,38.335 C14.1858473,38.3350002 8.31206219,34.9437689 5.1337381,29.4387502 C1.95541401,23.9337314 1.95541401,17.1512686 5.1337381,11.6462499 C8.31206219,6.14123122 14.1858473,2.74999991 20.5424954,2.75000004 Z"></path>
              </svg>
              <svg viewBox="0 0 44 44" version="1.1" style="width: 24px; height: 24px; margin: 0px 0.5rem;">
                <g transform="translate(18.978844, 18.940585) rotate(15.000000) translate(-18.978844, -18.940585) translate(-0.003914, -1.448304)">
                  <path d="M33.3534097,40.243448 L36.5593867,3.05130266 L36.8124902,0.070306513 L1.02647509,18.6171646 L21.4434865,23.0886589 L33.3534097,40.243448 Z M31.08954,31.8066665 L24.0588887,21.7668964 L33.0581224,8.31022983 L31.08954,31.8066665 Z M30.6536397,6.62287352 L21.654406,20.0795401 L9.70229879,17.4641378 L30.6536397,6.62287352 Z"></path>
                </g>
              </svg>
            </div>
            <div class="insta-post-desc">
              <p class="insta-post-owner">nutrimatilha</p>
              <p>VOCÊ SABIA que o organismo dos cães está preparado para receber grandes quantidades de proteína? O que não ocorre na maioria das rações.<br />
                👉🏼O recomendado é que a dieta seja equilibrada e composta por:<br />
                🐾 Proteínas;<br />
                🐾 Carboidratos;<br />
                🐾 Gorduras de boa qualidade;<br />
                🐾 Vitaminas;<br />
                🐾 Minerais, e água.<br />
                👉🏼A alimentação natural NutriMatilha pode proporcionar todos esses nutrientes, por isso é mais indicada para a saúde do seu pet.<br />
                <i class="hashtag">#alimentacaonatural</i></p>
              </div>
            </div>
          </div>
        </div>

        <!-- FAQ section -->
        <h2 class="row justify-content-center pb-2"><i class="far fa-comments"></i></h2>
        <section class="site-section" id="faq-section">
          <div class="container" id="accordion">
            <div class="row justify-content-center" data-aos="fade-up">
              <div class="col-lg-6 text-center heading-section mb-5">
                <div class="paws">
                  <span class="icon-paw"></span>
                </div>
                <h2 class="text-black mb-2"><strong>Frequently Ask Questions</strong></h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              </div>
            </div>
            <div class="row accordion justify-content-center block__76208">
              <div class="col-lg-6 order-lg-2 mb-5 mb-lg-0">
                <%#= image_tag "pets.png" %>
              </div>
              <div class="col-lg-5 mr-auto order-lg-1">
                <div class="accordion-item">
                  <h3 class="mb-4 heading">
                    <a class="faq btn-block collapsed text-decoration-none" data-toggle="collapse" href="#collapseFive" role="button" aria-expanded="false" aria-controls="collapseFive">Should I stop letting my dog sleep with me at night?</a>
                  </h3>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                    <div class="body-text">
                      <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                    </div>
                  </div>
                </div> <!-- .accordion-item -->

                <div class="accordion-item">
                  <h3 class="mb-4 heading">
                    <a class="faq btn-block collapsed text-decoration-none" data-toggle="collapse" href="#collapseSix" role="button" aria-expanded="false" aria-controls="collapseSix">Is it okay to dress up your dog?<span class="icon"></span></a>
                  </h3>
                  <div id="collapseSix" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                    <div class="body-text">
                      <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    </div>
                  </div>
                </div> <!-- .accordion-item -->

                <div class="accordion-item">
                  <h3 class="mb-4 heading">
                    <a class="faq btn-block text-decoration-none" data-toggle="collapse" href="#collapseSeven" role="button" aria-expanded="true" aria-controls="collapseSeven">Why do dogs like belly rubs so much?<span class="icon"></span></a>
                  </h3>
                  <div id="collapseSeven" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion" style="">
                    <div class="body-text">
                      <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                    </div>
                  </div>
                </div> <!-- .accordion-item -->

                <div class="accordion-item">
                  <h3 class="mb-4 heading">
                    <a class="faq btn-block text-decoration-none" data-toggle="collapse" href="#collapseEight" role="button" aria-expanded="false" aria-controls="collapseEight">Is a warm dry nose a sign of illness in dogs?<span class="icon"></span></a>
                  </h3>
                  <div id="collapseEight" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="body-text">
                      <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.</p>
                    </div>
                  </div>
                </div> <!-- .accordion-item -->

              </div>


            </div>
          </div>
        </section>
        </div>

